a.button {
    display: block;
    width: 121px;
    color: $color-secondary;
    padding: 5px 26px;
    border: 1px solid $color-secondary;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
}

.img1, .img2, .img3, .img4 {
display: block;
}