$color-primary: #FFFFFF;
$color-secondary: #181818;
$color-tertiary: #F7931A;

$font: "Inter", sans-serif;
$font-secondary: "Roboto Mono", monospace;


$black: #000;
$font-size-h1: 2.48em;
$font-size-h2: 2.07em;
$font-size-h3: 1.73em;
$font-size-h4: 1.44em;
$font-size-h5: 1.2em;
$font-size-p: 1em;

$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;








